<html>
<head>
    <title>Shopping Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="body-all">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ubermelon</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('all_melons') }}">All Melons</a>
                    <a class="nav-link" href="{{ url_for('cart') }}">Cart</a>
                    {% if 'username' in session %}
                        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                    {% endif %}    
                </div>
            </div>
        </div>
    </nav>

  <div class="container">
    {% for message in get_flashed_messages() %}
    <p class="alert alert-warning">{{ message }}</p>
    {% endfor %}
    {% block body %}
        <h1 class="header-1-base">Welcome to Ubermelon!</h1>
        <h2 class="header-2-base">Shop for your favorite melons from all over the world in one place.</h2>
    {% endblock %}

  </div>

</body>
</html>
