{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Melon</title>
</head>
<body>
    <h1>Individual Melon</h1>
    {% block body %}
    <div id="melon-container">
        <div class="card text-center">
            <h3>{{ melon.common_name }}</h3>
            <img class="melon-image" src="{{ melon.image_url }}">
            <h4>Price per unit: {{ melon.price_str() }}</h4>
            <ul>
                <li>{{ melon.color }}</li>
                {% if melon.seedless %}
                    <li>Seedless Melon</li>
                {% else %}
                    <li>Warning! This melon has seeds</li>
                {% endif %}
            </ul>
            <a class="btn btn-primary" href="{{ url_for('add_to_cart', melon_id=melon.melon_id) }}">Add to Cart</a>
        </div>
    </div>
    {% endblock %}
</body>
</html>