{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melons</title>
</head>
<body>
    {% block body %}
    <h1 class="header-1-base">All Melons</h1>
    <div id="melon-container">
        {% for melon in melon_list %}
        <div id="melon-card-all" class="card text-center">
            <a href="{{ url_for('melon_details', melon_id=melon.melon_id) }}">
                <h3>{{ melon.common_name }}</h3>
            </a>
            <h4>{{ melon.price_str() }}</h4>
            <img class="melon-image" src="{{ melon.image_url }}">
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    
</body>
</html>